.bookingContent{
    font-family: "Roboto",sans-serif;
    background-color: #ffffff;
    color: #DA3743;
    border-radius: 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 3.25rem auto 0;
    max-width: 900px;
    padding: 10px 10px;
    padding-top: 15px;
}
.bookingDetail{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-right: 30px;
}
.bookingContent1{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #ffffff;
    color: #DA3743;
    border-radius: 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 1.25rem auto 0;
    max-width: 900px;
    padding: 10px 10px;
}
.bookingBook{
    font-weight: 700;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #DA3743;
    width: 880px;
}
.bookingBook:hover{
    background-color: #EF4949 !important;
}
.bookingBook1{
    width: 110px;
    height: 40px;
    background-color: #009cde;
}
.bookingBook1:hover{
    background-color: #057cb0 !important;
}
.bookingDetailTitle{
    color: #DA3743;
    font-weight: 700;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    padding: 5px 0 0 7px
}
.bookingTitleUser{
    color: #DA3743;
    font-weight: 700;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
