@import "/src/App.css";

.daddyContainer {
  background-color: var(--primary-green-color);
}

.container {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.signInForm {
    padding: 20px 60px;
}

.loginRegisterTagLink {
  font-family: Arial, Helvetica, sans-serif;
}

.loginForgot {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

.formButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  min-height: 37px;
  border: 0;
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
