@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.centeredGif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-top: 30px;
    animation: spin 2s linear infinite;
}