:root {
  --primary-green-color: #EF4949;
  --primary-orange-color: #f65005;
  --header-height: 64px;
}
/* Font Family Definitions */
@font-face {
  font-family: 'BrandonText';
  src: url('/path/to/BrandonText.woff2') format('woff2'),
       url('/path/to/BrandonText.woff') format('woff');
  /* Add more font formats if necessary for cross-browser compatibility */
}

/* For macOS/iOS devices */
@font-face {
  font-family: '-apple-system';
  font-weight: normal;
  font-style: normal;
  src: local('.SFNSText-Regular'), local('.HelveticaNeueDeskInterface-Regular'),
       local('.LucidaGrandeUI'), local('Arial');
}

/* For macOS devices */
@font-face {
  font-family: 'BlinkMacSystemFont';
  font-weight: normal;
  font-style: normal;
  src: local('Helvetica Neue');
}

/* For Windows devices */
@font-face {
  font-family: 'Segoe UI';
  font-weight: normal;
  font-style: normal;
  src: local('Segoe UI'), local('Segoe WP'), local('Segoe UI Emoji');
}

/* For Android devices */
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: local('Roboto'), url('/path/to/Roboto.woff2') format('woff2'),
       url('/path/to/Roboto.woff') format('woff');
  /* Add more font formats if necessary for cross-browser compatibility */
}

/* For general fallback */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Emoji Fonts */
@font-face {
  font-family: 'Apple Color Emoji';
  src: local('Apple Color Emoji'), url('/path/to/AppleColorEmoji.woff2') format('woff2'),
       url('/path/to/AppleColorEmoji.woff') format('woff');
  /* Add more font formats if necessary for cross-browser compatibility */
}

@font-face {
  font-family: 'Segoe UI Emoji';
  src: local('Segoe UI Emoji'), url('/path/to/SegoeUIEmoji.woff2') format('woff2'),
       url('/path/to/SegoeUIEmoji.woff') format('woff');
  /* Add more font formats if necessary for cross-browser compatibility */
}

@font-face {
  font-family: 'Segoe UI Symbol';
  src: local('Segoe UI Symbol'), url('/path/to/SegoeUISymbol.woff2') format('woff2'),
       url('/path/to/SegoeUISymbol.woff') format('woff');
  /* Add more font formats if necessary for cross-browser compatibility */
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}