.homeContent{
    text-align: center;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.homeHeader{
    
    padding-top: 150px;
    color: #ffffff;
    font-size: 45px;
}
.homeDes{
    color: #ffffff;
    margin-top: 30px;
    font-size:25px;
}
.closeOption{
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #EE4037;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}
.homeSearch{
    background-color: #ffffff;
    
    border-radius: 0.5rem;
    text-align: left;
    display: flex;
    width: 100%;
    margin: 3.25rem auto 0;
    max-width: 1018px;
}
.homeForm{
    display: flex;
    width: 100%;
}
.homeGroup{
    color: #DA3743;
    padding: 0 0 0 15px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-direction: row;
    font-family: "HelveticaNeue";
}
.homeChoose{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 0 10px;
    padding-top: 8px;
    border-right: 1px solid #ddd6c5;
}
.homeChoose1{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    padding: 0 30px;
}
.homeBtn{
    border: #ffffff;
    background-color: #DA3743;
    width: 200px;
    height: 90px;
    border-radius: 0 8px 8px 0;
}
.homeBtn:hover{
background-color: #EF4949;
border: #ffffff;
}
.homeSearchTxt{
    font-weight: 700;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #ffffff;
    font-size: 18px;
    padding-left: 10px;
}
.homeTitleChoose{
    font-weight: 600;
    font-family: BrandonText, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    padding-left: 10px;
    font-size: 16px;
}
.homeInfor{
    color: #ffffff;
    margin-top: 100px;
}
::placeholder{
    color: #000000;
}